
@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
body{
    overflow-x: hidden;
  
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}
